$google-font: "https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto:wght@400;700&display=swap";
$google-font: "https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap";

$headerFontFamily: "Roboto", sans-serif;
$fontFamily: "Playfair Display", serif;

// Colors
$aqua: #00adb6;
$colorClasses: #647b9c;
$pink: #da0b4e;
$orange: #ff9800;
$blueColor: #00bcd4;
$blueBkg: rgba(0, 188, 212, 0.1);
$colorInstructor: #64789c;
