@import url("https://fonts.googleapis.com/css?family=Roboto");

/** ---------------------------------------------------------------------------
 * Navbar.
 * ------------------------------------------------------------------------- */
.container_navbar {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.navbar {
  padding-top: 25px;
  padding-bottom: 25px;
  z-index: 4;
  background-color: rgb(255, 255, 255);
}

.navbar a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.6);
  transition: color 200ms ease-in;
}

.navbar li:hover > a {
  color: $pink;
}

.logo img {
  /* Get rid of the bottom whitespace present on inline elements. */
  display: block;
  max-width: 120px;
}
.sign {
  display: grid;
  grid-template-columns: 120px 120px;
  grid-column-gap: 10px;
  font-weight: 600;
  font-size: 18px;
  padding-left: 18px;
  text-align: center;
  position: relative;

  @include e(in) {
    background-color: white !important;
    color: #da0b4e !important;
    padding: 10px 5px;
    border: 1px solid rgba(100, 123, 156, 0.3) !important;
    grid-column: 1;
    text-decoration: none;
  }
  @include e(up) {
    grid-column: 2;
    background-color: #1b1b31 !important;
    color: white !important;
    padding: 10px 5px;
    border: 1px solid rgba(100, 123, 156, 0.3) !important;
    text-decoration: none;
  }
}
.menu {
  display: none;
}

/** ---------------------------------------------------------------------------
 * Menu button.
 * ------------------------------------------------------------------------- */
/*#region*/
.menu-button {
  display: inline-block;
  transition: 0.3s ease-in-out;
  width: 35px;
  height: 24px;
  position: relative;
  justify-self: end;
}
.menu-button.in-mobile {
  position: absolute;
  top: 2rem;
  right: 1rem;
}

.menu-button span {
  position: absolute;
  height: 2px;
  border-radius: 10px;
  width: 100%;
  background-color: #70798b;
  top: 0;
  transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
}

.menu-button span:nth-child(1) {
  top: 0;
}

.menu-button span:nth-child(2),
.menu-button span:nth-child(3) {
  top: 10px;
}

.menu-button span:nth-child(4) {
  top: 20px;
}

.menu-button.active span:nth-child(1),
.menu-button.active span:nth-child(4) {
  opacity: 0;
}

.menu-button.active span:nth-child(2) {
  transform: rotate(45deg);
}

.menu-button.active span:nth-child(3) {
  transform: rotate(-45deg);
}
/*#endregion*/

/** ---------------------------------------------------------------------------
* Mobile menu
* ------------------------------------------------------------------------- */

/*#region*/

/* Dark overlay.  */
.dark-overlay {
  position: fixed;
  top: 0;
  left: 0;
  visibility: hidden;
  z-index: 99998;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  transition: opacity 0.3s, visibility 0.3s;
}

.dark-overlay.visible {
  opacity: 1;
  visibility: visible;
}

/* Mobile menu. */
.mobile-menu {
  background-color: #1c2138;
  padding: 6rem 0 2rem;
  position: fixed;
  width: 17rem;
  top: 0;
  left: -200%;
  transition: right 0.3s;
  z-index: 99999;
  height: 100%;
  overflow: scroll;
}

.mobile-menu.visible {
  left: 0;
}

.mobile-menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.mobile-navigation a {
  display: block;
  padding: 1rem;
  color: #787fa0;
  text-decoration: none;
  transition: all 0.3s;
}
.mobile-navigation a:first-of-child {
  color: $pink;
}

.mobile-navigation a.active {
  background-color: $pink;
}

.mobile-navigation li {
  position: relative;
}

/* 1st level. */
.mobile-navigation > ul > li > a {
  font-weight: bold;
}

/* Lower levels. */
.mobile-navigation li ul {
  padding-left: 2rem;
  display: none;
}

/* Drop-down arrows. */
.mobile-navigation li.has-submenu:after {
  content: "";
  position: absolute;
  top: 1.6rem;
  width: 0;
  height: 0;
}

.mobile-navigation li.has-submenu:after {
  right: 1rem;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #787fa0;
}

.mobile-navigation li.has-submenu.opened:after {
  border-bottom: 5px solid #787fa0;
  border-top: none;
}
.menu_home {
  color: #d70040 !important;
}
