.container {
  max-width: 1400px;
}
.banner {
  @include e(title) {
    max-width: 50%;
    margin-top: 230px;
    font-size: 52px;
  }
  @include e(content) {
    max-width: 45%;
    font-size: 15px;
    margin-bottom: 100px;
  }
}
.pink {
  font-weight: 700;
}
